@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fish Pi</h1>
    <p class="lead">Fish Pi is a web based calculation that will calculate Nei's Pi in both sum and percent</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></a></p>
    </div>
</div>